@page
@model OpenWasteMapUK.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<main role="main" class="container py-3">
    <h1>About</h1>
    <hr />

    <p>OpenWasteMap is a web app which uses data from <a href="https://openstreetmap.org">OpenStreetMap</a> to display recycling centre locations, their accepted materials, materials specifically banned, and opening hours.</p>

    <p>This project started as part of <a href="https://github.com/CodeTheCity/CTC21">CTC21: Put Your City on the Map</a> and continued in <a href="https://github.com/CodeTheCity/CTC22">CTC22: The Environment</a>.</p>

    <h2>Contributors</h2>
    <p>This project exists thanks to those who are mentioned below as well as many more!</p>
    <p>You can contribute too!</p>
    <ul>
        <li>Data can be updated on <a href="https://openstreetmap.org" target="_blank">OpenStreetMap</a></li>
        <li>Pull requests accepted on <a href="https://github.com/JackGilmore/OpenWasteMap" target="_blank">GitHub</a></li>
    </ul>
    <h3>Sponsors</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Sponsor</th>
                <th>Contribution</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="d-flex flex-lg-row flex-md-column flex-sm-column flex-wrap">
                        <img src="/assets/dsposal_logo.png" alt="The logo for the company Your Dsposal" class="mr-2" style="width:10rem" />
                        <div>
                            <strong>Your Dsposal</strong>
                            <a href="https://dsposal.uk/your" target="_blank">https://dsposal.uk/your</a>
                        </div>
                    </div>
                </td>
                <td>
                    Many thanks to Your Dsposal for funding 2 years domain registration and web hosting!
                </
            </tr>
        </tbody>
    </table>

    <h3>Code and data contributors</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Contributor</th>
                <th>Contribution</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <p>
                        Jack Gilmore
                    </p>
                    <p><a href="https://twitter.com/YesImJack"><i class="fab fa-twitter"></i> Twitter</a></p>
                </td>
                <td>
                    Web app development and webmaster
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        Tom Passmore
                    </p>
                    <p><a href="https://twitter.com/Eldo36"><i class="fab fa-twitter"></i> Twitter</a></p>
                </td>
                <td>
                    Data curation and contribution
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        Jez Nicholson
                    </p>
                    <p><a href="https://twitter.com/jnicho02"><i class="fab fa-twitter"></i> Twitter</a></p>
                </td>
                <td>
                    Data curation and contribution, OpenStreetMap expertise and guidance
                </td>
            </tr>
            <tr>
                <td>
                    <p>Ian Watt</p>
                    <p><a href="https://twitter.com/watty62"><i class="fab fa-twitter"></i> Twitter</a></p>
                </td>
                <td>
                    Data curation and contribution, WikiData expertise and guidance
                </td>
            </tr>
        </tbody>
    </table>
</main>